
<form class="form-signin">
    <!--<img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    <label class="sr-only">Email address</label>
    <input class="form-control" placeholder="username" ng-model="username">
    <label class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginFunction()">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
</form>
