<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>todo</title>

    <link href="/3rd/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="app">
<div ng-view="">

</div>

<script src="/3rd/angular-1.8.0/angular.min.js"></script>
<script src="/3rd/angular-1.8.0/angular-route.min.js"></script>
<script src="/3rd/angular-1.8.0/angular-resource.min.js"></script>

<script src="/app/js/app.module.js"></script>
<script src="/app/js/login.module.js"></script>
<script src="/app/js/login/login.component.js"></script>



</body>
</html>