<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>todo</title>

    <link href="/3rd/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="app">
<div ng-view="">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script src="/3rd/angular-1.8.0/angular.min.js"></script>
<script src="/3rd/angular-1.8.0/angular-route.min.js"></script>
<script src="/3rd/angular-1.8.0/angular-resource.min.js"></script>

<script src="/app/js/app.module.js"></script>

<script src="/app/js/login.module.js"></script>
<script src="/app/js/login/login.component.js"></script>

<script src="/app/js/lobby.module.js"></script>
<script src="/app/js/lobby/lobby.component.js"></script>
<script src="/app/js/lobby/onlinePlayers.component.js"></script>
<script src="/app/js/lobby/active-games.component.js"></script>



</body>
</html>