<div class="row">
    <div class="alert"
         ng-class="{'alert-danger': !isMyTurn, 'alert-success': isMyTurn}">
        {{isMyTurn ? 'Your Turn' : 'Your Opponent\'s Turn'}}
    </div>
</div>

<div class="row" style="text-align: center">
    <div class="secret-word">
        <ul class="list-unstyled word-list">
            <li ng-repeat="letter in secretWord track by $index" class="letter">
                <div ng-class="{'underscore': !letter.chosen}" style="height: 100px;">{{letter.name}}</div>
            </li>
        </ul>
    </div>
</div>

<div class="row">

        <ul class="list-inline keyboard">
            <li ng-repeat="letter in letters" class="letter-to-choose">
                <button class="btn btn-primary letter-button"
                        ng-disabled="letter.chosen || !isMyTurn"
                        ng-click="selectWord(letter);">{{letter.name}}
                </button>
            </li>
        </ul>
</div>

<style>
    body {
        padding: 20px 40px;
        font-family: "Verdana";
    }

    h1 {
        margin: 20px;
    }

    * {
        text-align: center;
    }

    .secret-word {
        font-size: 3rem;
        text-align: center;
        margin: 10px auto 30px;
    }

    .letter-button{
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .letter-button:disabled {
        opacity: 0.5;
        color: black;
    }

    .letter {
        float: left;
        margin: 0 10px;
        font-size: 64px;
        min-width: 40px;
        min-height: 60px;
    }


    .letter-to-choose {
        width: 50px;
        height: 50px;
        float: left;
        display: inline-block;
    }

    .underscore {
        border-bottom: 3px solid black;
    }

    .row {
        text-align: center;
    }
    .col-3 {
        display:inline-block;
    }

    .keyboard{
        width: 280px;
        margin: 0 auto;
    }
</style>