<div class="row">
    <div class="secret-word ">


        <ul class="list-unstyled word-list">
            <li ng-repeat="letter in secretWord" class="letter">
                <div ng-class="{'underscore': !letter.chosen}" style="height: 100px;">{{letter.name}}</div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="letters col-3">
        <ul class="list-inline">
            <li ng-repeat="letter in letters" class="letter-to-choose">
                <button class="btn btn-primary letter-button"
                        ng-disabled="letter.chosen"
                        ng-click="selectWord(letter);">{{letter.name}}
                </button>
            </li>
        </ul>
    </div>
</div>



<style>
    body {
        padding: 20px 40px;
        font-family: "Verdana";
    }

    h1 {
        margin: 20px;
    }

    * {
        text-align: center;
    }

    .secret-word {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 3rem;
        text-align: center;
    }

    .letter-button:disabled {
        opacity: 0.5;
        color: black;
    }

    .letter {
        float: left;
        margin: 0 10px;
        font-size: 64px;
        min-width: 40px;
        min-height: 60px;
    }

    .word-list {
        width: 400px;
    }

    .letter-to-choose {
        width: 50px;
        height: 50px;
        float: left;
    }

    .underscore {
        border-bottom: 3px solid black;
    }
</style>